.loader-container {
    width: 100vw;
    height: 100vh;
    background: #000;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    color: #b3b3b3;
}

.equalizer {
    display: flex;
    align-items: flex-end;
    gap: 5px;
    height: 50px;
    margin-bottom: 20px;
}

.equalizer span {
    width: 6px;
    background: #1db954;
    border-radius: 10px;
    animation: equalize 1s infinite ease-in-out;
}

.equalizer span:nth-child(1) { animation-delay: 0s; }
.equalizer span:nth-child(2) { animation-delay: .2s; }
.equalizer span:nth-child(3) { animation-delay: .4s; }
.equalizer span:nth-child(4) { animation-delay: .1s; }
.equalizer span:nth-child(5) { animation-delay: .3s; }

@keyframes equalize {
    0%,100% { height: 10px; }
    50% { height: 40px; }
}