.navbar{

    display:flex;

    justify-content:space-between;

    align-items:center;

    padding:12px 20px;

    background:#181818;

    border-bottom:1px solid #2a2a2a;

    position:sticky;

    top:0;

    z-index:1000;

}

.logo-image{

    height:70px;

    width:auto;

}

.navbar-logo{

    text-decoration:none;

    display:flex;

    align-items:center;

}

.menu-container{

    position:relative;

}

.menu-button{

    width:45px;

    height:45px;

    border:none;

    border-radius:50%;

    background:#222;

    color:white;

    cursor:pointer;

    display:flex;

    justify-content:center;

    align-items:center;

    font-size:24px;

}

.menu-button:hover{

    background:#2d2d2d;

}

.dropdown-menu{

    position:absolute;

    right:0;

    top:60px;

    width:220px;

    background:#181818;

    border-radius:12px;

    overflow:hidden;

    box-shadow:0 10px 30px rgba(0,0,0,.5);

    border:1px solid #333;

}

.dropdown-menu a,
.dropdown-menu button{

    width:100%;

    display:flex;

    align-items:center;

    gap:12px;

    padding:14px 18px;

    background:none;

    border:none;

    color:white;

    text-decoration:none;

    cursor:pointer;

    font-size:15px;

}

.dropdown-menu a:hover,
.dropdown-menu button:hover{

    background:#252525;

}

.menu-icon{

    width:45px;

    height:45px;

    object-fit:contain;

    display:block;
    border-radius: 30px;
}